<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <title>Chat</title>
</head>

<body>
    <div>
        {{if eq .Username "anon"}}
        <a href="/login">login</a>
        <a href="/register">register</a>
        {{else}}
        <a href="/logout">Logout</a>
        {{end}}
    </div>
    <h1>Chat</h1>
    <p style="display: none" id="username">{{.Username}}</p>
    <div id="chatWindow">
    </div>
    <form id="messageBox">
        <label for="message">Message: </label>
        <input type="text" id="message" name="message">
        <button id="sendButton">Send</button>
    </form>
</body>

</html>
