<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <title>Chat</title>
</head>

<body>
    <p style="display: none" id="username">{{.Username}}</p>
    <h1 id="chatTitle">{{.ChatTitle}}</h1>
    <div id="chatWindow">
        {{range .History}}
        {{.Username}}: {{.Message}}
        <br>
        {{end}}
    </div>
    <form id="messageBox">
        <label for="message">Message: </label>
        <input type="text" id="message" name="message">
        <button id="sendButton">Send</button>
    </form>
    <div><a href="/">Go back</a></div>
</body>

</html>
